<ngx-lightbox class="item" galleryKey="galleryKey"></ngx-lightbox>

<div class="row mx-0 demo">
	<div class="col-12 text-center">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">NgxLightDemo</a>
			<div class="w-100 text-right" id="navbarsExampleDefault">
				<div class="pr-5" style="color: white;">
					Angular
				</div>
			</div>
		</nav>
	</div>

	<div class="jumbotron w-100">
		<div class="col-12 text-center mt-2 p-0">
			<h3 style="font-weight: 400; font-style: italic;">
				to open gallery click on image or button
			</h3>
			<div class="mt-3">
				<div
					*ngFor="let img of images; let i = index"
					class="d-inline ml-2"
				>
					<img [src]="img.src" (click)="open(i)" />
				</div>
			</div>
		</div>
		<div class="col-12 mt-5 text-center">
			<button class="btn btn-primary" (click)="open(0)">
				Launch Gallery
			</button>
			<button class="btn btn-success ml-2" (click)="autoSlide()">
				Auto slide Gallery
			</button>
		</div>
	</div>
</div>
